@{
    ViewBag.Title = "合同导入";
    ViewBag.PageCode = "C004";
}


<div class="content" style="height:400px">
    <div class="bd_tit">
        <h2>导入数据</h2>
    </div>

  @*  <div>@Html.ValidationSummary()</div>*@

    <div class="import_contract_box ">
        <div class="temp_download">
            <ul>
                <li class="li_txt">下载批量导入数据模板</li>
                <li class="li_pic">
                    <p class ="type_icon"></p>
                    <p class="temp_name">模板_批量导入数据.xls</p>
                </li>
                <li >
                    <a class="blue_btn link_common" href="~/Contract/DownloadExcelTemplate">下载</a>
                </li>
            </ul>
        </div>
        <div class="import_con_middle">
       <a class="right_arrow add mb10"></a>
   </div>
        <div class="temp_upload">
            <form id="uploadForm" method="post" action="~/Contract/ImportContract" enctype="multipart/form-data" >
                <ul>
                    <li class="li_txt">上传批量数据</li>
                    <li class="temp_load">
                        <p>
                            <input type="text" id="fileName" class="text_input w250 mr10" readonly="readonly" name="fileName">
                            <input type="button" id="selectFile" class="blue_btn button_common" value="浏览">
                            <input type="file" id="uploadFile" class="fileupload" name="uploadFile">
                        </p>
                        <p><label>文件名称：</label><span id="displayName"></span></p>
                    </li>
                    <li>
                        <input type="submit" id="uploadBtn" class="blue_btn button_common mr20" value="上传" />
                        @*<input type="button" id="returnBtn" value="返回" class="gray_btn button_common">*@
                    </li>
                </ul>
            </form>
        </div>

<div class="error_box">@Html.ValidationSummary()</div>

   </div>

    @*<div class="success_box "><span><i class="success_icon"></i><span id="successMsg">@Html.ValidationSummary()</span></span></div>*@
   @* <div class="info_return ">
         
        <div class="error_box"><span><i class="error_icon"></i><span id="errorMsg">   </span></span></div>
        <div class="error_details">
            <table class="tr_tit" width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody><tr>
                    <td width="20%">排序码</td>
                    <td width="20%">标准代码</td>
                    <td width="20%">疾病名称</td>
                    <td class="no_line" width="40%">失败提示</td>
                </tr>
            </tbody></table>
            <table id="errorTable" class="tr_bg" width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody><tr class="tr_line rowTpl hide">
                    <td width="20%" class="errIndex"></td>
                    <td width="20%" class="errStdCode"></td>
                    <td width="20%" class="errDiseaseName"></td>
                    <td width="40%" class="errMsg"><em class="red"></em></td>
                </tr>
            </tbody></table>
        </div>
    </div>*@

     
    </div>