@if (Request.IsAuthenticated) {
    <label >您好,</label>
    @Html.ActionLink(User.Identity.Name, "Changepassword", "user", routeValues: null, htmlAttributes: new { title = "修改密码" , @class="tst" })    
    <a href="~/user/logout" class="right-info">注销</a>
    
     /*using (@Html.BeginForm("LogOff", "User", FormMethod.Post, new { id = "logoutForm"})) {
           @Html.AntiForgeryToken()            
            <a href="javascript:document.getElementById('logoutForm').submit()" class="right-info">注销</a>
        }*/
    
} 